body {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.bold {
    font-weight: bold;
}

.btn {
    background-color: rgb(42, 42, 185);
    color: white;
}

#cap {
    text-transform: uppercase;
    text-align:center;
    /* margin:30px 0; */
}

.card-img-top {
    border: 0.25rem solid lightgrey;
}

.chirper {
    font-size: 75%;
}

.column {
    flex-direction: column; 
}

.container-fluid {
    text-align: center;
}

.description a:hover{
    font-style: italic;
}

.d-inline, .d-inline-flex {
    display: flex;
}

#face {
    margin: auto;
    border: 0.25rem solid red;
    height: 100%;
}

form {
    /* margin-left: 20%; */
    width: 60%;
}

.grow { 
    transition: all .5s ease-in-out; 
    height: 5em;
    width: 5em;
}

.grow:hover { 
    transform: scale(1.1); 
}

h1 {
    font-size: 185%;
}

h2 {
    font-size: .5em;
    font-weight: bold;
}

h3 {
    color: rgb(42, 42, 185);
    font-size: 1em;
    text-align: center;
}

h4 {
    font-size: 120%;
}

.info, #textbox {
    color: grey
}

input {
    font-style: italic;
}

.italic {
    font-style: italic;
}

#links, #projects {
    background-color: rgb(166, 178, 206);
}

#me {
    color: rgb(42, 42, 185);
    /* margin-top: 15rem; */
    /* margin-left: 45%; */
    text-shadow: 0 0 20px white;
    /* z-index: -1; */
}

#name {
    color: rgb(42, 42, 185);
    display: inline;
    vertical-align: middle;
}

#nameandin {
    display: flex;
    align-items: center;
}

.nav-item {
    border-bottom: 0.25rem solid rgb(42, 42, 185);
    /* padding:0 3rem; */
    display: inline;
    /* margin: 0.5rem; */
}

.orange a:link, .orange a:visited{
    color: #f9850f;
    font-weight: bold;
}

#panel {
    margin-bottom: 2rem;
}

.rainy {
    background-color: lightgrey;
    color: rgb(42, 42, 185);
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.red a:link, .red a:visited {
    color: #f54957;
    font-weight: bold;
}

#resume {
    color: grey;
    font-weight: bold;
    font-size: 110%;
}

#resume:hover {
    color: rgb(42, 42, 185);
    font-style: italic;
}

.row {
    display: none;
}

.skillicons {
    margin: 1rem 0;
}

.text{
    background-color: lightgrey;
    color: rgb(42, 42, 185);
    /* padding: 2rem; */
}

#title {
    text-transform: uppercase;
    /* margin-left: 50%; */
}

#topBtn {
    /* display: none;
    position: fixed;
    bottom: 30%;
    right: 30px;
    z-index: 99; */
    font-size: 30%;
    background-color: rgb(42, 42, 185);
    color: white;
    cursor: pointer;
    /* padding: 15px; */
    border-radius: 50%;
}

#topBtn:hover {
    background-color: #555;
}

ul {
    font-size: 80%;
}