body {
    font-family: "PlayfairDisplay-Bold";
}

#globe {
    padding: 3%;
}

#name {
    display: inline;
    color: rgb(42, 42, 185);
    vertical-align: middle;
}

.header-left {
    border: 0.25rem solid black;
    width: 10%;   
    margin: 5rem 10rem;
}

.nav-item, #mathteach, #ed {
    border-bottom: 0.25rem solid rgb(42, 42, 185);
    padding:0 3rem;
    display: inline;
    margin: 0.5rem;
}

.navbar {
    margin-right: 10rem;
}

h1 {
    font-size: 5em;
}
h2 {
    font-size: 1.5em;
}

#title {
    color: rgb(42, 42, 185);
    margin-top: 25rem;
    margin-left: 25%;
    text-shadow: 0 0 20px white;
    z-index: -1;
}

#location {
text-transform: uppercase;
margin-left: 30%;
margin-bottom: 30rem;
}

#face {
    margin-top: 10rem;
    margin-left: 10%;
    z-index: -2;
    position: absolute;
    border: 0.25rem solid lightgrey;
}

#textbox {
    border: 0.25rem solid black;
    width: 25%;
    padding: 2rem;
    background-color: white;
    margin-left: 2rem;
}

#aboutme {
    margin-top: 5rem;
}

ul {
    font-size: 1.5em;
}

.info, #textbox {
    color: grey
}

#row4, #row5, #row6 {
    margin: 10rem 0;
}

ul {
    margin-top: 1rem;
}

.card-img-top {
    border: 0.25rem solid lightgrey;
}

form {
    margin-left: 20%;
    width: 60%;
}

input {
    font-style: italic;
}

.btn {
    background-color: rgb(42, 42, 185);
    color: white;
}