body {
    font-family: 'Varela Round', sans-serif;
    box-sizing: border-box;
}

#name {
    display: inline;
    color: rgb(42, 42, 185);
    vertical-align: middle;
}

#resume:hover {
    color: rgb(42, 42, 185);
    font-style: italic;
}

#nameandin {
    display: flex;
    align-items: flex-end;
}

#topBtn:hover {
    background-color: #555;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.info, #textbox {
    color: grey
}

input {
    font-style: italic;
}

.btn {
    background-color: rgb(42, 42, 185);
    color: white;
}

.column {
    flex-direction: column; 
}

#projects, #links {
    background-color: rgb(166, 178, 206);
}

.red a:link, .red a:visited {
    color: #f54957;
    font-weight: bold;
}

.orange a:link, .orange a:visited{
    color: #f9850f;
    font-weight: bold;
}

.description a:hover{
    font-style: italic;
}

.container-fluid {
    text-align: center;
}

.grow { 
    transition: all .5s ease-in-out; 
    height: 5em;
    width: 5em;
}

.grow:hover { 
    transform: scale(1.1); 
}

#nameandin {
    display: flex;
    align-items: center;
}
#resume {
    color: grey;
    font-weight: bold;
    font-size: 110%;
}
#panel {
    margin-bottom: 2rem;
}
/* 
.header-left {
    border: 0.25rem solid black;
    width: 10%;   
    margin: 5rem 10rem;
} */

.nav-item {
    border-bottom: 0.25rem solid rgb(42, 42, 185);
    /* padding:0 3rem; */
    display: inline;
    /* margin: 0.5rem; */
}

/* .navbar {
    margin-right: 10rem;
} */

h1 {
    font-size: 185%;
}
h2 {
    font-size: .5em;
    font-weight: bold;
}

h4 {
    font-size: 120%;
}

#me {
    color: rgb(42, 42, 185);
    /* margin-top: 15rem; */
    /* margin-left: 45%; */
    text-shadow: 0 0 20px white;
    /* z-index: -1; */
}

#title {
    text-transform: uppercase;
    /* margin-left: 50%; */
}

#face {
    /* margin-top: 5rem;
    margin-left: 10%;
    z-index: -2;
    position: absolute; */
    border: 0.25rem solid lightgrey;
    height: 100%;
}

.skillicons {
    margin: 1rem 0;
}

ul {
    font-size: 80%;
}

/* ul {
    margin-top: 1rem;
} */

.card-img-top {
    border: 0.25rem solid lightgrey;
}

form {
    /* margin-left: 20%; */
    width: 60%;
}


h3 {
    color: rgb(42, 42, 185);
    font-size: 1em;
    text-align: center;
}

.rainy {
    background-color: lightgrey;
    color: rgb(42, 42, 185);
    font-size: 80%;
    padding: 0;
    margin: 0;
}

.text{
    background-color: lightgrey;
    color: rgb(42, 42, 185);
    /* padding: 2rem; */
}

.chirper {
    font-size: 75%;
}

#cap {
    text-transform: uppercase;
    text-align:center;
    /* margin:30px 0; */
}



#topBtn {
/* display: none;
position: fixed;
bottom: 30%;
right: 30px;
z-index: 99; */
font-size: 30%;
background-color: rgb(42, 42, 185);
color: white;
cursor: pointer;
/* padding: 15px; */
border-radius: 50%;
}

.row {
    display: none;
}